.container{
    border: 2px solid orange;
    padding: 40px;

}
.container h1{
    border-bottom: 2px solid orange;
    width: 100px;
}

form{
    /* margin: auto; */
    /* width: 75%; */
}

a{
    text-decoration: none;
}